<!DOCTYPE html>
<html lang="en">
<%- include ../../layout/head.ejs %>
<body>
  <%- include ../../layout/header.ejs %>
  <main>
    <h2>Search by Title or Author</h2>
    <form id="searches-form" action="/searches/show" method="POST">
      <input name="query" id="query" placeholder="Enter a title or author" type="text">
      <select name="title-or-author" id="title-or-author">
        <option value="title">Title</option>
        <option value="author">Author</option>
      </select>
      <input id="submit" type="submit" value="Search the Google Books API">
    </form>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</body>
</html>