<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Open Shelf: A Book Wiki</title>
  <link rel="stylesheet" href="base.css">
</head>
<body>
  <h1>Hello World!</h1>
  <form id="searches-form" action="/searches">
    <input name="query" id="query" placeholder="Flowers" type="text">
    <select name="title-or-author" id="title-or-author">
      <option value="title">Title</option>
      <option value="author">Author</option>
    </select>
    <input type="submit" value="Submit">
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="searches.js"></script>
</body>
</html>