@import 'reset.css';
@import 'layout.css';
@import 'modules.css';
@import 'icons.css';

html {
  font-size: 62.5%;
}

main {
  background-color: #FFA400;
  min-height: calc(100vh - 90px);
  padding-bottom: 30px;
}

.show {
  display: block;
}
