header {
  background-color: black;
  padding: 30px 3.125%;
}

.book {
  width: 50%;
  margin: 30px auto 0;
  background-color: #ccc;
  padding: 30px 3.125%;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 5px;
}
