main h2:first-of-type {
  font-size: 2em;
  background-color: #777;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}

/**********************HEADERS***********************/

header h1 {
  font-size: 3em;
  color: #fff;
  float: left;
}

header nav {
  float: right;
}

.total-saved {
  color: #777;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  display: inline-block;
  box-sizing: border-box;
}

/**********************NAV***********************/

nav i {
  color: #fff;
  font-size: 3em;
  position: relative;
  cursor: pointer;
}

nav ul {
  position: absolute;
  width: 100vw;
  left: 0;
  transform: translateY(20px);
  display: none;
}

nav li {
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  font-size: 2em;
  padding: 10px 0;
  line-height: 40px;
  font-weight: bold;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/**********************NEW SEARCH FORM***********************/

form {
  width: 70%;
  margin: auto;
  padding-top: 30px;
}

form #query,
form #title-or-author,
form #submit {
  width: 100%;
  height: 50px;
  font-size: 2em;
  box-sizing: border-box;
  border: none;
  margin-bottom: 30px;
  text-align: center;
}

form #query {
  padding: 20px 0 20px 1.5625%;
}

form #submit {
  background-color: #222;
  color: #fff; 
}


/**********************BOOKS***********************/

.book-image {
  display: block;
  margin: auto;
  width: 50%;
}

.book-title {
  text-align: center;
  font-size: 2em;
  color: #fff;
  text-shadow: #222 0px 0px 3px;
  margin: 5px 0 0;
}

.book-author {
  text-align: center;
  font-size: 1.6em;
  color: #222;
  margin: 5px 0 0;
  font-style: italic;
}

.book-description {
  text-align: center;
  font-size: 1.4em;
  color: #222;
  margin: 15px 0 0;
  line-height: 1.6em;
  background-color: #eee;
  border-radius: 5px;
}

.show-details {
  display: block;
  text-align: center;
  height: 50px;
  width: 70%;
  margin: auto;
  background-color: #222;
  color: #fff;
  margin-top: 30px;
  font-size: 2em;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.book-isbn,
.book-bookshelf {
  text-align: center;
  font-style: italic;
}

.book-isbn {
  margin-top: 15px;
}

.book-bookshelf {
  margin-top: 5px;
}

/**********************SAVE BOOK FORM***********************/

.save-book-input,
.save-book-textarea {
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1.04166667%;
}

.save-book-input,
.save-book-textarea,
.save-book-submit {
  border-radius: 5px;
  border: none;
  font-family: "Arial";
  font-size: 1.4em;
}

.save-book-input,
.save-book-submit {
  height: 30px;
}

.save-book-textarea {
  height: 90px;
  resize: none;
}

.save-book-submit {
  background-color: #222;
  color: #fff;
  width: 60%;
  margin: auto;
  display: block;
}
