header h1 {
  font-size: 3em;
  color: #fff;
}

main h2:first-of-type {
  font-size: 2em;
  background-color: #777;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}

/**********************FORM***********************/
form {
  width: 70%;
  margin: auto;
  padding-top: 30px;
}

form #query,
form #title-or-author,
form #submit {
  width: 100%;
  height: 50px;
  font-size: 2em;
  box-sizing: border-box;
  border: none;
  margin-bottom: 30px;
  text-align: center;
}

form #query {
  padding: 20px 0 20px 1.5625%;
}

form #submit {
  background-color: #222;
  color: #fff; 
}


/**********************BOOKS***********************/
.book-image {
  display: block;
  margin: auto;
  width: 50%;
}

.book-title {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin: 5px 0 0;
}

.book-author {
  text-align: center;
  font-size: 1.6em;
  color: #222;
  margin: 5px 0 0;
  font-style: italic;
}

.book-description {
  text-align: center;
  font-size: 1.4em;
  color: #222;
  margin: 15px 0 0;
  line-height: 1.6em;
}