<header>
  <h1>Best Books!</h1>
  <nav>
    <i id="nav-icon" class="fas fa-bars"></i>
    <ul id="nav-list">
      <li><a href="/">Saved Books</a></li>
      <li><a href="/searches/new">New Search</a></li>
    </ul>
  </nav>
</header>