<header>
  <h1>Best Books!</h1>
  <nav>
    <i class="fas fa-bars"></i>
    <ul>
      <li><a href="/">Saved Books</a></li>
      <li><a href="/searches/new">New Search</a></li>
    </ul>
  </nav>
</header>